body {
  margin: 0;
  padding: 0;
}

/* ----------------------- Start Header Section Styles ----------------------- */

.header-section {
  width: 100%;
}
/* -- start navigation styles */
.header-section .navigation {
  width: 100%;
  height: 62px;
  background-color: black;
  /* background: transparent url("../img/header/Rectangle\ 46.png") 0% 0% no-repeat; */
  opacity: 1;
  justify-content: center;
}
.header-section .navigation .container {
  width: 98%;
}
.header-section .navigation .navbar {
  height: 100%;
}
.header-section .navigation .navbar .navbar-toggler {
  color: #ffffff;
  background-color: #ffffff;
}
.header-section .navigation .navbar .navbar-brand {
  width: 131px;
  height: 45px;
  background: transparent url("../img/header/Groupe 32.png") 0% 0% no-repeat;
  background-size: contain;
  opacity: 1;
}
.header-section .navigation .navbar .navbar-nav {
}
.header-section .navigation .navbar .navbar-nav .nav-link {
  color: #ffffff;
  text-align: left;
  width: 100%;
  font: normal normal bold 14px/30px;
  color: #ffffff;
  opacity: 1;
}

.header-section .navigation .navbar .navbar-nav .active {
  color: #ffdd00 !important;
}
.header-section .navigation .navbar .navbar-nav a:hover {
	color: #ffd500;
	animation: slide 1.2s ease-in-out forwards;
  /* background-color: darkgreen; */
}

.header-section .navigation .navbar .navbar-nav .nav-link:last-child {
  /* margin-left: 64px; */
  /* padding-right: 101px; */
}

/* -- end navigation styles */

/* -- start main styles */
.header-section .main {
  height: 700px;
  width: 100%;
  background-color: #000000e5;
  background-repeat: no-repeat;
  align-content: center;
  /* background-color: red; */
}
.header-section .main .content {
  width: 100%;
  height: 95%;
  /* background-color: green; */
}
.header-section .main .parent1 {
  position: relative;
  background-color: #0000002a;
  height: 470px;
  width: 100%;
  top: 3%;
}
.header-section .main .parent1 .child {
  position: absolute;
  left: 0;
  top: 20px;
  height: 430px;
  background-color: #ffffff42;
  padding: 35px;
}
.header-section .main .parent1 .child h2 {
  font-size: 64px;
  color: #fff;
  font-weight: bold;
  align-items: center;
  margin-bottom: 40px;
}

.header-section .main .parent1 .child p {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  opacity: 0.8;
  height: 50px;
  margin-bottom: 50px;
}
.header-section .main .parent1 .child button {
  background-color: transparent;
  color: #fff;
  font-weight: 100;
  letter-spacing: 4px;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-top: 1px solid rgb(238, 255, 0);
  border-bottom: 1px solid rgb(238, 255, 0);
  font-size: 18px;
  padding: 5px 0;
  margin-left: 10px;
}
.header-section .main .parent1 .child button:hover {
  border: 1px solid rgb(238, 255, 0);
  border-radius: 50px;
  padding: 5px 10px;
  margin-left: 0px;
}

.header-section .main .parent2 {
  position: relative;
  /* top: 3%; */
}
.header-section .main .parent2 .child1 {
  position: absolute;
  background: transparent url("../img/header/Tracé 1737.png") 0% 0% no-repeat;
  height: 420px;
  width: 70%;
  top: 5%;
  left: 30%;
}

.header-section .main .parent2 .child2 {
  position: absolute;
  height: 540px;
  top: 25px;
  right: 20px;
  left: 20px;
}

.header-section .main .parent2 .child2 .carousel-indicators {
  margin-bottom: -60px;
}

.header-section .main .parent2 .child2 .carousel-indicators li {
  width: 17px;
  height: 17px;
  transform: skew(45deg, -45deg);
}
.header-section .main .parent2 .child2 .carousel-indicators .active {
  background-color: #ffdd00;
}
.header-section .main .parent2 .child2 .custom-indicators {
  /* height: 200px; */
  margin-bottom: -125px;
  /* background-color: darkred; */
  margin-left: 60px;
}
/* .header-section .main .parent2 .child2 .custom-indicators li{
  display: none;
} */
.header-section .main .parent2 .child2 .custom-indicators li {
  transform: none;
  visibility: hidden;
  width: 45px;
  height: 50px;
  margin: 0;
  padding: 0;
  background: transparent url("../img/header/boutton.png") 0% 0% no-repeat;
  /* transition: width 0.3s, height 0.3s; */
  /* transition: width 0.9s, height 0.9s; */
  /* transition: all 0.1s ease; */
  background-color: darkgreen;
}
.header-section .main .parent2 .child2 .custom-indicators li:hover {
  width: 100px;
  height: 80px;
  margin: 0;
  padding: 0;
  /* margin-left: 45px;
  margin-top: 120px; */
  /* background: transparent url("../img/header/boutton@2x.png") 0% 0% no-repeat; */
  background: transparent url("../img/header/boutton@2x.png") 0% 0% no-repeat;
  transform: translateX(50px) translateY(50px);
  /* background-color: red; */
}
.header-section .main .parent2 .child2 .custom-indicators .active {
  background-color: initial;
  visibility: visible;
}

.header-section .main .parent2 .child2 .carousel-inner {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 20px;
  height: 416px;
}
.header-section .main .parent2 .child2 .carousel-inner .carousel-item {
  height: 416px;
}
.header-section .main .parent2 .child2 .carousel-inner .carousel-item img {
  height: 386px;
}

@keyframes slide {
	0% {
		transform: translateY(0);
		opacity: 1;
	}
	50% {
		transform: translateY(100%);
		opacity: 0;
	}
	51% {
		transform: translateY(-100%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
/* -- end main styles */
/* ----------------------- End Header Section Styles ----------------------- */
